---
import BaseHead from "../../components/BaseHead.astro";
import { SITE_DESCRIPTION } from "../../config";
import Header from "../../components/Header/Header.astro";
import { Resources } from "../../constants/resources";

interface Post {
  slug: string;
  title: string;
  createdAt: string;
  excerpt: string;
  coverImage: {
    url: string;
    fileName: string;
  };
}

interface PostsData {
  data: {
    posts: Post[];
  };
}

const response = await fetch(import.meta.env.HYGRAPH_KEY, {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
    Accept: "application/json",
  },
  body: JSON.stringify({
    query: `
    {
      posts {
        slug
        title
        createdAt
        excerpt
        coverImage {
          url
          fileName
        }
      }
    }
      `,
  }),
});
const responseJson = (await response.json()) as PostsData;
const posts = responseJson.data.posts;
---

<html>
  <head>
    <BaseHead description={SITE_DESCRIPTION} />
  </head>
  <body class="flex flex-col h-screen bg-white text-gray-800 break-words">
    <Header />
    <main class="mx-7 lg:mx-6 mt-5 lg:mt-10 flex-grow">
      <div class="max-w-5xl mx-auto">
        <div class="flex flex-wrap -mx-2">
          {
            posts.map(({ coverImage, title, createdAt, excerpt, slug }) => (
              <div class="w-full sm:w-1/2 md:w-1/3 self-stretch p-2 mb-2">
                <div class="rounded shadow-md h-full">
                  <a href={`${Resources.Post}${slug}`}>
                    <img
                      class="w-full m-0 rounded-t lazy"
                      src={coverImage.url}
                      width="960"
                      height="500"
                      alt={coverImage.fileName}
                    />
                  </a>
                  <div class="px-6 py-5 ">
                    <div class="font-semibold text-lg mb-2">
                      <a
                        class="text-gray-900 hover:text-gray-700 h-14 overflow-hidden text-ellipsis"
                        href={`${Resources.Post}${slug}`}
                        style={{
                          display: "-webkit-box",
                          ["-webkit-line-clamp"]: 2,
                          ["-webkit-box-orient"]: "vertical",
                        }}
                      >
                        {title}
                      </a>
                    </div>
                    <p
                      class="text-gray-700 mb-2 text-sm"
                      title="Published date"
                    >
                      {new Date(createdAt).toLocaleString()}
                    </p>
                    <p
                      class="text-gray-800 overflow-hidden max-h-24 text-ellipsis"
                      style={{
                        display: "-webkit-box",
                        ["-webkit-line-clamp"]: 4,
                        ["-webkit-box-orient"]: "vertical",
                      }}
                    >
                      {excerpt}
                    </p>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </main>
  </body>
</html>
